@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.chat__container {
  width: 100%;
  min-height: 100vh;
  background-color: #1e1e1e;
  padding: 2rem 6rem;
}

.chat__body {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  background-color: #0d1f42;
}

// Responsivness

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  .chat__container {
    padding: 0rem 0rem;
    min-height: 100vh;
  }

  .chat__body {
    margin-top: 0rem;
  }
}
