.all__conversations__container {
  flex: 0.35;
  border-right: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px 0px 0px 12px;
  padding-bottom: 20px;
}

.conversation__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1.5rem;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);

  h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
  }

  svg {
    color: #fff;
    font-size: 24px;
  }
}

.conversation__scroll {
  overflow-y: scroll;
  max-height: 600px;

  &::-webkit-scrollbar {
    width: 0rem;
  }
}

.chat__body {
  height: 450px; /* Set the height of the chat body */
  overflow-y: auto; /* Make the chat body scrollable */
  background-color: #f5f5f5;
}

.message__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  .all__conversations__container {
    // display: none;
    flex: 1;
    padding-bottom: 20px;
  }

  .conversation__header {
    padding: 1.5rem 1rem;

    h1 {
      font-size: 22px;
    }

    svg {
      font-size: 22px;
    }
  }
  .conversation__scroll {
    max-height: 90vh;
  }
}
